<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Mad Libs</h1>
      </div>
      <div>
        <h2>Choose your theme:</h2>
        <ul>
          <li><a href="/pirates">Pirates</a></li>
          <li><a href="/unicorns">Unicorns</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>