<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Pirate Story</h1>
      </div>
      <div>
        <p>Ahoy, noun! Welcome aboard the most adjective pirate ship ever to verb the seven plural noun!</p>
      </div>
    </div>
  </body>
</html>