<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Pirate Story</h1>
      </div>
      <div>
        <p>Ahoy, @Model.Nouns[0]! Welcome aboard the most @Model.Adjectives[0] pirate ship ever to @Model.Verbs[0] the seven @Model.PluralNouns[0]!</p>
      </div>
    </div>
  </body>
</html>