<!DOCTYPE html>
<html>
  <head>
    <title>Mad Libs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Unicorns</h1>
      </div>
      <div style="width:50%;">
        <form action="/unicorns/story" method="post">
        <label for="pluralnoun">Plural Noun</label>
        <input id="pluralnoun" name="pluralnoun" type="text" class="form-control">
        <label for="adjective">Adjective</label>
        <input id="adjective" name="adjective" type="text" class="form-control">
        <label for="pluralnoun2">Plural Noun</label>
        <input id="pluralnoun2" name="pluralnoun2" type="text" class="form-control">
        <label for="pluralnoun3">Plural Noun</label>
        <input id="pluralnoun3" name="pluralnoun3" type="text" class="form-control">
        <label for="adjective2">Adjective</label>
        <input id="adjective2" name="adjective2" type="text" class="form-control">
        <label for="adjective3">Adjective</label>
        <input id="adjective3" name="adjective3" type="text" class="form-control">
        <label for="adjective4">Adjective</label>
        <input id="adjective4" name="adjective4" type="text" class="form-control">
        <label for="noun">Noun</label>
        <input id="noun" name="noun" type="text" class="form-control">
        <label for="pluralnoun4">Plural Noun</label>
        <input id="pluralnoun4" name="pluralnoun4" type="text" class="form-control">
        <label for="adjective5">Adjective</label>
        <input id="adjective5" name="adjective5" type="text" class="form-control">
        <label for="verb">Verb</label>
        <input id="verb" name="verb" type="text" class="form-control">
        <label for="pluralnoun5">Plural Noun</label>
        <input id="pluralnoun5" name="pluralnoun5" type="text" class="form-control">
        <label for="verb2">Verb (-ed)</label>
        <input id="verb2" name="verb2" type="text" class="form-control">
        <label for="verb3">Verb</label>
        <input id="verb3" name="verb3" type="text" class="form-control">
        <label for="noun2">Noun</label>
        <input id="noun2" name="noun2" type="text" class="form-control">
        <label for="adjective6">Adjective</label>
        <input id="adjective6" name="adjective6" type="text" class="form-control">
        <button type="submit" class="btn btn-info">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>